extends ui_layout_facebook
block content
	.header 
		.ui.grid
			.row
				.three.wide.column
					h1 Besties 
					p Besties is an app for best friends! Besties documents and celebrates the most amazing, hilarious, and memorable moments between you and your best friend. 
					p Linked to your Facebook account, you can store and share your photos more easily, just between the two of you, with your Facebook friends, or with the world, through Besties. Both you and your friend will manage this special photo gallery together, and tell a story about the two of you! 
				.six.wide.column.ti
					h1 Your Post
					.ui.section.divider
					.ui.fluid.icon.input
						input.intext(type='textarea' placeholder='What is on you mind?' style='min-height:100px')

					<br>
					.centered.row
						span Tagged in this photo 
						a.ui.image.label
							img(src='/profile_pictures/user-add-icon.png')
							span(style='color: blue')=uname 
						span (you)
						a.ui.image.label.ig
							img.ig(src='/profile_pictures/user-add-icon.png')
							span(style='color: blue')=fname
					<br><br><br>
						.ui.buttons 
							button.ui.blue.button#pri Share


				.seven.wide.column
					h3 Preview
					.ui.equal.width.center.aligned.padded.grid
						.row
							.column
								a.image(href='#')
								img.ui.fluid.image(src='/profile_pictures/besties1.jpeg')
							.column
								a.image(href='#')
								img.ui.fluid.image(src='/profile_pictures/besties5.jpeg')
						.row
							.column
								a.image(href='#')
								img.ui.fluid.image(src='/profile_pictures/besties3.jpeg')
							.column
								a.image(href='#')
								img.ui.fluid.image(src='/profile_pictures/besties4.jpeg')
			.row
				.column 	


	.ui.nudge.fullscreen.modal(style='min-height:300px;')
		.header(style='font-size:30px;') Are you sure?
		.content
			case condis
				when "asd" : p(style='font-size:20px;') 
					| You are about to add this photo to 
					a.ui.image.label
						img.ig(src='/profile_pictures/user-add-icon.png')
						span(style='font-size:20px;color: blue')=fname
					| ’s 
					span(style='color: blue') Timeline 
					| and your own. Please note that both 
					a.ui.image.label
						img.ig(src='/profile_pictures/user-add-icon.png')
						span(style='font-size:20px;color: blue')=fname
					| ’s friends and yours can see your post, reshare this photo, and have access to your information.
				when "asn" : p 
					| You have only posted 
					span(style='color: blue') 2 
					| photos to other people’s 
					span(style='color: blue') Timeline 
					| in the past 
					span(style='color: blue') 12 
					| months.
				when "aod" : p 
					| You are about to add this photo to 
					a.ui.image.label
						img.ig(src='/profile_pictures/user-add-icon.png')
						span(style='font-size:20px;color: blue')=fname
					| ’s Timeline and your own. Please note that both 
					a.ui.image.label
						img.ig(src='/profile_pictures/user-add-icon.png')
						span(style='font-size:20px;color: blue')=fname
					| ’s friends and yours can see your post, reshare this photo, and have access to 
					a.ui.image.label
						img.ig(src='/profile_pictures/user-add-icon.png')
						span(style='font-size:20px;color: blue')=fname
					| ’s information.
				when "aon" : p 
					a.ui.image.label
						img.ig(src='/profile_pictures/user-add-icon.png')
						span(style='font-size:20px;color: blue')=fname
					| has only posted 
					span(style='color: blue') 2 
					| photos to her 
					span(style='color: blue') Timeline
					| in the past 
					span(style='color: blue') 12 
					| months.
				when "csd" : p 
					| You are about to add this photo to 
					a.ui.image.label
						img.ig(src='/profile_pictures/user-add-icon.png')
						span(style='font-size:20px;color: blue')=fname
					| ’s 
					span(style='color: blue') Timeline 
					| and your own. Please note that, by tagging 
					a.ui.image.label
						img.ig(src='/profile_pictures/user-add-icon.png')
						span(style='font-size:20px;color: blue')=fname
					| , 
					a.ui.image.label
						img.ig(src='/profile_pictures/user-add-icon.png')
						span(style='font-size:20px;color: blue')=fname
					| will have edit rights to this photo, and the information you added to this photo, including caption, tagging, etc.
				when "csn" : p 
					| You have only tagged other people in your own photos 
					span(style='color: blue') 2 
					| times in the past 
					span(style='color: blue') 12 
					| months.
				when "cod" : p 
					| You are about to add this photo to 
					a.ui.image.label
						img.ig(src='/profile_pictures/user-add-icon.png')
						span(style='font-size:20px;color: blue')=fname
					| ’s 
					span(style='color: blue') Timeline 
					| and your own. Please note that Na cannot change your sharing of this photo, or the information you added to this photo, including caption, tagging, etc.
				when "con" : p 
					a.ui.image.label
						img.ig(src='/profile_pictures/user-add-icon.png')
						span(style='font-size:20px;color: blue')=fname
					| has only been tagged in 
					span(style='color: blue') 2 
					| photos in the past 
					span(style='color: blue') 12 
					| months
				when "esd" : p 
					| You are about to add this photo to 
					a.ui.image.label
						img.ig(src='/profile_pictures/user-add-icon.png')
						span(style='font-size:20px;color: blue')=fname
					| ’s 
					span(style='color: blue') Timeline 
					| and your own. Please note that 
					a.ui.image.label
						img.ig(src='/profile_pictures/user-add-icon.png')
						span(style='font-size:20px;color: blue')=fname
					| ’s friends outside your network can also see you tagged in this photo, view your profile, and/or reshare this photo.
				when "esn" : p 
					a.ui.image.label
						img.ig(src='/profile_pictures/user-add-icon.png')
						span(style='font-size:20px;color: blue')=fname
					| has #{number} friends outside of your network
				when "eod" : p 
					| You are about to add this photo to 
					a.ui.image.label
						img.ig(src='/profile_pictures/user-add-icon.png')
						span(style='font-size:20px;color: blue')=fname
					| ’s 
					span(style='color: blue') Timeline 
					| and your own. Please note that your friends outside of 
					a.ui.image.label
						img.ig(src='/profile_pictures/user-add-icon.png')
						span(style='font-size:20px;color: blue')=fname
					| ’s network can see 
					a.ui.image.label
						img.ig(src='/profile_pictures/user-add-icon.png')
						span(style='font-size:20px;color: blue')=fname
					| tagged in this photo, view her profile, and/or reshare this photo.
				when "eon" : p 
					| You have #{number} friends outside of 
					a.ui.image.label
						img.ig(src='/profile_pictures/user-add-icon.png')
						span(style='font-size:20px;color: blue')=fname
					| ’s network.
				default: p you need to select one case 
		.actions
			.ui.grid
				.col
					.ui.labeled.icon.pointing.dropdown.button(style=' width: 250px;')
						input#choice(type="hidden" name="choice")
						span.text  Edit Photo Privacy Setting
						.menu
							.p Who can see your post?
							.header Your post will show up in Feed, on your profile and in search results.
							.divider
							.item(data-value="public")
								i.globe.icon 
								| Public
							.header
								| Anyone on or off Facebook
							.divider
							.item(data-value="friends")
								i.users.icon 
								| Friends(+)
							.header
								| Your friends on Facebook
							.divider
							.item(data-value="specific_friends")
								i.user.icon 
								| Specific Friends
							.header
								| Only show to some friends
							.divider
							.item(data-value="only_best")
								i.lock.icon 
								| Only between the Besties
				.col
					.ui.cancel.button#no Cancel
					.ui.blue.approve.button#yes Post


	//add intro
	script.
		introJs().setOptions({
			"skipLabel": "",
			exitOnOverlayClick: false,

			steps: [{
				title: 'Welcome',
				intro: 'welcome to Bestie!' 
				},
				{
				element: document.querySelector('.ti'),
				intro: 'Create your post here'
				},
				{
				element: document.querySelector('.intext'),
				intro: 'Add your thoughts here'
				},
				{
				element: document.querySelector('.ig'),
				intro: 'Here is your tagged friend'
				}]
		}).start();

			//  /pri?c=pri1